/*onclick="newElement()"*/
.toDoList {

    margin-top: 10px;
}

.listStyle {

    background-color: #ffffff;
    width: 312px;
    height: 25px;
    text-align: center;
    cursor: context-menu;
    margin: 0;
    border-color: #000000;
}

.container {
    width: 800px;
    margin: auto;
}

header {

    text-align: left;
}

body {
    background-color: rgb(202, 202, 202);
}

h1 {
    color: rgb(0, 0, 0);
    text-align: left;
}

h3 {
    color: rgb(175, 150, 150);
    text-align: left;
}

input {
    width: 300px;
    height: 20px;
}
.fa-solid .fa-plus {

    cursor: pointer;
}
ul {
    height:100px;
    width: 100px;
}
li {
    background: rgb(255, 255, 255);
    padding: 20px;
    width: 300px;
    border-color: rgb(0, 0, 0);
    list-style: none;
}

.fa-regular .fa-circle-check {
color: black;
cursor: pointer;
float: left;
margin-right: 500px;
}

.fa-regular .fa-circle-check {

    cursor: pointer;
    float: left;
}

.hidden {

    display: none !important;
}

.fa-trash-can {

    margin-left: auto;
    opacity: 1;
    float: right;
}

.fa-trash-can:hover {

    margin-left: auto;
    opacity: 1;
    /*float: right;*/
    cursor: pointer;
    float: right;
 }

i {
    margin: 0 10px 0 2px;
}

  input {
    width: 300px;
    padding: 5px;
  }